#editor {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--editor-bg-color);
    color: var(--editor-color);
    font-family: monospace;
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    width: 30em;

    --editor-bg-color: hsl(264, 20%, 20%);
    --editor-color: #ccc;
    --border-color: #ccc;
    --invalid-color: #f99;
}
#editor select, #editor button, #editor input[type=text] {
    color: #efefef;
    background-color: #222;
    border: 1px solid var(--border-color);
    font-family: inherit;
    font-size: 0.9em;
    padding: 0.2em 0.25em;
}
/* Add new component */
#editor #new-component {
    font-size: 1.5em;
    margin: 1em 0.8em;
    flex: auto 0 0;
}
/* Edit single component */
#editor #component-editor {
    flex: auto 0 0;
    order: 10;
}
#editor #component-editor .component-entry {
    display: none;
    position: relative;
    flex-direction: column;
    border-top: 2px solid var(--border-color);
    background-color: hsl(264, 10%, 25%);
    padding: 1.5em 1em;
}
#editor #component-editor .component-entry.selected {
    display: flex;
}
#editor #component-editor .component-entry .component-type {
    color: #cfc;
    font-weight: bold;
}
#editor #component-editor .component-entry.invalid {
    background-color: hsl(350, 20%, 25%);
}
#editor #component-editor .component-entry.invalid .component-type {
    color: var(--invalid-color);
}
#editor #component-editor label {
    color: #ccc;
    font-size: 1.2em;
    margin: 0.1em 0;
}
#editor #component-editor input[type=text].invalid {
    border-color: var(--invalid-color);
    color: var(--invalid-color);
}
#editor #component-editor .component-entry .remove {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.1em;
    color: #c66;
    border-width: 0 0 1px 1px;
}
/* View list of components */
#editor #component-list {
    flex: auto 1 1;
    overflow-y: scroll;
    border-top: 2px solid var(--border-color);
}
/* Component group */
#editor #component-list .component-group {
    display: contents;
}
#editor #component-list .component-group .group-heading {
    width: 100%;
    border-width: 1px 0 1px 0;
    font-size: 1.2em;
    padding: 0.5em 0;
}
#editor #component-list .component-group .group-heading::after {
    content: "-";
    float: right;
    margin-right: 1em;
}
#editor #component-list .component-group.collapsed .group-heading::after {
    content: "+";
}
#editor #component-list .component-group.collapsed .component {
    display: none;
}
/* Component listing */
#editor #component-list .component {
    display: flex;
    flex-direction: row;
    margin: 0.3em 0.5em;
    padding: 0.5em 0.8em;
    font-size: 1.1em;
    color: #ddd;
    border-radius: 0.5em;
    cursor: pointer;
}
#editor #component-list .component:hover {
    background-color: #1119;
    font-weight: bold;
    color: #fff;
}
#editor #component-list .component label {
    cursor: inherit;
}
#editor #component-list .component .component-type {
    color: #cfc;
    width: 6em;
    margin-right: 1em;
    text-align: right;
}
#editor #component-list .component.invalid .component-type {
    color: var(--invalid-color);
}
/* Control panel */
#controls {
    position: absolute;
    bottom: 0;
    left: calc(50% - 10em);
    width: 20em;
    box-sizing: border-box;
    color: var(--editor-color);
    background-color: var(--editor-bg-color);
}